<!DOCTYPE html>
<html>
<head >
  <title>chatApp</title>
<!-- Jquery and Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBm-KooNXAjmZSU0hBf4svjI65R3Xpd_QI",
    authDomain: "chatapp-d3f5f.firebaseapp.com",
    databaseURL: "https://chatapp-d3f5f.firebaseio.com",
    projectId: "chatapp-d3f5f",
    storageBucket: "",
    messagingSenderId: "69171976122"
  };
  firebase.initializeApp(config);
</script>

<!-- Others -->
<link rel="stylesheet" type="text/css" href="assests/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="controller.js"></script>
</head>


<body ng-app="chatApp"  ng-controller="chatApp" >
  <div>{{appName}}</div>
<div id="msgList" class="w3-container" style="width: auto; height: 80vh"></div>

	<form action="">
    
	<label for="">
		<input type="text" id="msgIpt" placeholder="Type & Enter" value="" autofocus ng-model="msg" class="w3-border w3-round-large">
	</label>
  
  <button type="submit" id="btnSubmit" ng-click="submit()" ng-disabled="!msg" class="w3-button w3-circle w3-red w3-card-1 w3-mobile">
    <i class="fa fa-paper-plane" aria-hidden="true"></i>
  </button>

</form>

</body>
</html>